label {
  font-weight: 600;
}
.chatBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px auto;
  background-color: lightblue;
}
.chatBoxButtonContainer {
  width: 100%;
}
.chatBoxInputContainer {
  width: 100%;
}
.chatBoxInput {
  border-radius: 5px;
  width: 90%;
  height: 70px;
}
.chatBoxButton {
  border-radius: 5px;
  width: 90%;
  height: 30px;
  border: 0;
  background-color: blue;
  color: #fff;
}
.currentlyUserBox {
  margin: 10px auto;
  display: block;
  background-color: aquamarine;
}
