.messageText {
  border-radius: 5px;
  padding: 10px;
  background-color: lightblue;
  color: black;
  display: block;
  font-size: 11px;
}
.messageBody {
}
.messageContainer {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}
.messagesContainer {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  height: 500px;
  overflow-y: scroll;
}
.messageActions {
  .icons {
    width: 20px;
    height: 20px;
    color: lightblue;
  }
}
.messageFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 9px;
}
